# Assignment SQL Worksheet

1. Which of the following is/are DDL commands in SQL?

Ans: 1. A). Create, D).Alter
     2. D). Drop

3. Full Form of SQL is

Ans. B). Structured Query Language

4. Full Form of DDL is

Ans. B). Data Definition Language

5. Full Form of DML is

Ans. A). Data Manipulation Language

6). Which of the following statement is used to create a table with Column B Int Type and C Float Type?

Ans. C). Create Table A (B Int,C Float)

In [17]:
import sqlite3

In [18]:
dbcon=sqlite3.connect('table_database.db')

In [19]:
cur=dbcon.cursor()

In [1]:
cur.execute("create table A (B int,C float)")

NameError: name 'cur' is not defined

In [ ]:
cur.execute()

In [ ]:
cur.execute("insert into A(B,C) values(1,65.34)")
dbcon.commit()

In [2]:
results=cur.execute("select* from A")

for i in results:
    print(i)

NameError: name 'cur' is not defined

7). Which of the Following statement can be used to add a column D (Float type) to the table created above Table A?

Ans. B). ALTER Table A ADD COLUMN D FLOAT

cur.execute('alter table A column D float')

7). Which of the Following statement can be used to add a column D (Float type) to the table created above Table A?

Ans. B). ALTER Table A ADD COLUMN D FLOAT

8). Which of the following statement can be used to drop the column added in the above question?

Ans. B). ALTER Table A Drop Column D

9). Which of the following statement can be used to change the data type (From Float to Int) of the column D of the table created above question?

Ans. B). ALTER Table A ALTER Column D Int

10). Suppose we want to make column B of Table A as a primary key of the table, By which of the following statement we can do it?

Ans. C). ALTER Table A add Primary Key B

11). What is Data-Warehouse??

Ans. Data-Warehouse is process for collecting and managing data from varied sources to provide meaningful business insights. A Data warehouse is typically used to connect and analyze business data from heterogeneous sources. The data warehouse is the core of the BI system which is built for data analysis and reporting.

12. What is the difference between OLTP Vs OLAP?

Ans. OLTP stands for online transaction processing (OLTP), whereas OLAP stands for online analytical processing. Both OLTP and OLAP are online processing systems. The basic difference between OLTP and OLAP is that OLTP works with the processing of transactions, OLAP is more focused on analytical processing.

13. What is the Various Characteristics of Data-Warehouse?

Ans. The Various Characteristics of Data-Warehouse are as follows:-
    1.	Subject-oriented : A data warehouse is always a subject oriented as it delivers information about a theme instead of organization’s current operations. It can be achieved on specific theme. That means the data warehousing process is proposed to handle with a specific theme which is more defined. These themes can be sales, distributions, marketing etc.
    2.	Integrated : It is somewhere same as subject orientation which is made in a reliable format. Integration means founding a shared entity to scale the all similar data from the different databases. The data also required to be resided into various data warehouse in shared and generally granted manner.
    3.	Time-Variant : In this data is maintained via different intervals of time such as weekly, monthly, or annually etc. It founds various time limit which are structured between the large datasets and are held in online transaction process (OLTP). The time limits for data warehouse is wide-ranged than that of operational systems. The data resided in data warehouse is predictable with a specific interval of time and delivers information from the historical perspective. It comprises elements of time explicitly or implicitly. Another feature of time-variance is that once data is stored in the data warehouse then it cannot be modified, alter, or updated.
    4.	Non-Volatile : As the name defines the data resided in data warehouse is permanent. It also means that data is not erased or deleted when new data is inserted. It includes the mammoth quantity of data that is inserted into modification between the selected quantity on logical business. It evaluates the analysis within the technologies of warehouse.

14. What is Star-Schema??

Ans. A star schema is a database organizational structure optimized for use in a data warehouse or business intelligence that uses a single large fact table to store transactional or measured data, and one or more smaller dimensional tables that store attributes about the data. It is called a star schema because the fact table sits at the center of the logical diagram, and the small dimensional tables branch off to form the points of the star.

15. 15. What do you mean by SETL?

Ans. The SET command is used with UPDATE to specify which columns and values that should be updated in a table.